[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
apache-beam = {extras = [ "gcp",], version = "==2.31.0"}
ml-metadata = "==1.2.0"
pyarrow= "==2.0.0"
tensorflow = "==2.5.1"
tensorflow-data-validation = "==1.2.0"
tensorflow-metadata = "==1.2.0"
tensorflow-model-analysis = "==0.33.0"
tensorflow-serving-api = "==2.5.1"
tensorflow-transform = "==1.2.0"
tfx-bsl = "==1.2.0"
jupyterlab = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
